<h1 class="page-header">Welcome to Point!</h1>
	
<blockquote>Point was created with school based technical support specialists in mind. Use it to keep track of all computer assets at your school including useful data like room numbers and primary users. Contact your zone tech for access. Enjoy!</blockquote>